fastapi==0.115.12
uvicorn==0.34.0
gunicorn==23.0.0
python-jose==3.4.0
python-multipart==0.0.20
pydantic==2.10.6
pydantic-settings==2.8.1
SQLAlchemy==2.0.40
alembic==1.15.2
psycopg2-binary==2.9.9
bcrypt==4.3.0
passlib==1.7.4
python-dotenv==1.0.1
Telethon==1.39.0
TgCrypto==1.2.5
croniter==2.0.1
ratelimit==2.2.1
httpx==0.28.1
tenacity==9.0.0 